
<p>
  <strong>Organization:</strong>
<td><%= Organization.find(@project.organization_id).name  %></td>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<h5>Employees</h5>
<% @members.map do |member| %>
    <div class="d-flex">
       <%#only display if not added yet to user project %>
       <%#validate uniqueness of user in project %>
      <p><%= member.email %></p>

         <%= link_to 'Add to project',
                      user_projects_path(project_id: @project.id, user_id: member.id),
                      :method => :put,
                      :class => 'btn btn-xs btn-success' %> 
     </div>
         <% end %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', dashboard_path %>
<%= render 'items/list', items: @project.items %>
<%= link_to 'New Item', new_item_path(project_id: @project.id) %>

