<p id="notice"><%= notice %></p>

<p>
  <strong>Organization:</strong>
<td><%= Organization.find(@project.organization_id).name  %></td>
</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<% @members.map do |member| %>
      <li><%= member.email %>
        
        </td></li>
   <%#fix route %>
         <%= link_to 'Add',
                      user_project_url(project_id: @project.id, user_id: member.id),
                      :method => :put,
                      :class => 'btn btn-xs btn-success' %>
      <% end %>  
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', dashboard_path %>
<%= render 'items/list', items: @project.items %>
<%= link_to 'New Item', new_item_path(project_id: @project.id) %>

