<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group mb-2">
    <%= form.label :name, :class => 'control-label' %>
    <%= form.text_field :name, :class => 'form-control' %>
  </div>

  <div class="control-group mb-2">
    <%= form.label :upload, value: 'File to upload', :class => 'control-label' %>
    <%= form.file_field :upload, :class => 'form-control' %>
  </div>

  <%= form.hidden_field :project_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
