<p id="notice"><%= notice %></p>
<%- model_class = Item -%>
<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @project.items.all.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= s3_link ActsAsTenant.current_tenant.id, item.key %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


