<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Key:</strong>

    <td><%= s3_link ActsAsTenant.current_tenant.id, @item.key %></td>
 
</p>

<p>
  <strong>Project:</strong>
  <%= @item.project_id %>
</p>

<%= link_to 'Back', dashboard_path %>
