<%= form_with(model: organization) do |form| %>
  <% if organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(organization.errors.count, "error") %> prohibited this organization from being saved:</h2>

      <ul>
        <% organization.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, :class => 'control-label' %>
    <%= form.text_field :name, :class => 'form-control w-50'%>
  </div>

  <div class="field">
    <%= form.label :subdomain, :class => 'control-label mt-2' %>
    <%= form.text_field :subdomain, :class => 'form-control w-50' %>
  </div>

  <div class="field">
    <%= form.label :domain, :class => 'control-label mt-2' %>
    <%= form.text_field :domain, :class => 'form-control w-50' %>
  </div>

  <div class="actions mt-2">
    <%= form.submit %>
  </div>
<% end %>
