<% if @artifacts.exists? %>
  <% @artifacts.map do |artifact| %>
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col"><%= artifact.name %></th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center">Priority</th>
        <th scope="col" class="text-center">Timeline</th>
        <th scope="col" class="text-center">Related Files</th>
        <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
      <% if @tasks.exists? %>
        <% @tasks.map do |task| %>
            <tr>
          <% if task.artifact_id == artifact.id %>
            <th scope="row"><%= task.name %></th>
            <% if task.status == 'done' %>
            <td class="text-center"><%= '<i class="bi bi-clipboard-check fs-4 text-success"></i>'.html_safe %></td>
            <% elsif task.status == 'on-going' %>
            <td class="text-center"><%= '<i class="bi bi-clipboard fs-4 text-primary"></i>'.html_safe %></td>
            <% else %>
               <td class="text-center"><%= '<i class="bi bi-clipboard-x fs-4 text-danger"></i>'.html_safe %></td>
             <% end %>
            <% if task.priority == 'high' %>
            <td class="text-center"><%= '<i class="bi bi-circle-fill text-danger"></i>'.html_safe %></td>
            <% elsif task.priority == 'medium' %>
            <td class="text-center"><%= '<i class="bi bi-circle-fill text-warning"></i>'.html_safe %></td>
            <% else task.priority == 'medium' %>
            <td class="text-center text-info"><%= '<i class="bi bi-circle-fill text-info"></i>'.html_safe %></td>
           <% end %>
            <td class="text-center"><%= task.starting_date %> to <%= task.completion_date %></td>
            <td class="text-center"><%= link_to 'See Files', items_path(project_id: @project.id, task_id: task.id) %> | <%= link_to 'Upload File', new_item_path(project_id: @project.id, task_id: task.id) %></td>
            <td class="text-center"><%= link_to 'Update Task', edit_task_path(id: task.id, project_id: @project.id, artifact_id: artifact.id) %> | <%= link_to 'Delete task', task_path(id: task.id, project_id: @project.id), method: :delete %></td>
          <% end %>
            </tr>
        <% end %>
      <% else %>
        <tr>
         <td> <p> Start adding Tasks </p> </td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <%= link_to 'Add task', new_task_path(project_id: @project.id, artifact_id: artifact.id) %>
  <% end %>
<% else %>
  <h1>Start Creating New Artifacts</h1>
  
<% end %>