<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
        <% if user_signed_in? %>
                <iframe src="https://giphy.com/embed/YMwcy2pjfZc7bqON1x" style="pointer-events:none;" width="50" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            <% else %>
                <iframe src="https://giphy.com/embed/YMwcy2pjfZc7bqON1x" style="pointer-events:none;" width="50" height="50" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
            <% if user_signed_in? %>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <%= link_to 'Home', dashboard_path, class: "nav-link active" %>
                    </li>
                    <% if current_user.type == "Admin" %>
                        <li class="nav-item">
                        <%= link_to 'New Project', new_project_path, class: "nav-link active" %>
                        </li>
                    <% end %>
                    <% if current_user.type === "Admin" %>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Invite
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><%= link_to 'Invite Member', new_member_invitation_path, class: "dropdown-item" %></li>
                            <li><%= link_to 'Invite Admin', new_admin_invitation_path, class: "dropdown-item" %></li>
                        </ul>
                        </li>
                    <% end %>
                </ul>
                  <% else %>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <%= link_to 'Home', root_path, class: "nav-link active" %>
                    </li>
                      
                    <li class="nav-item">
                        <%= link_to 'Create Organization', new_organization_path, class:"nav-link text-white" %> 
                    </li>
                </ul>
            <% end %>
           

            
            <% if user_signed_in?  %>
                <ul class="navbar-nav ml-auto">
                <% if current_user.type === "Admin" %>
                    <li class="nav-item active">
                    <li class="nav-item active"><span class="nav-link">Admin</span></li>
                        <%= link_to 'Sign Out', destroy_admin_session_path, method: :get, class: "nav-link" %>
                    </li>
                 <% else %>
                    <li class="nav-item active">
                    <li class="nav-item active"><span class="nav-link">Member</span></li>
                        <%= link_to 'Sign Out', destroy_member_session_path, method: :get, class: "nav-link" %>
                    </li>
                <% end %>
              
            <% else %>
                <% if Organization.check_db(params[:organization]) %>
                <div class="dropdown ml-auto ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Sign In
                    </button>
                    <ul class="dropdown-menu mx-auto" aria-labelledby="dropdownMenuButton1">
                        <li><%= link_to 'Admin Sign In',  new_admin_session_url(subdomain: @organization.subdomain), class: "dropdown-item" %></li>
                        <li><%= link_to 'Member Sign In',  new_member_session_url(subdomain: @organization.subdomain), class: "dropdown-item" %></li>
                    </ul>
                </div>
             
                <% end %>
                   </ul>
            <% end %>
    </div>
  </div>
</nav>